.title {
  color: #3e4462;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}

.text_area {
  background-color: #d9d9d9;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  overflow: auto;
  overflow-x: hidden;
  padding: 16px;
  margin-bottom: 18px;
  margin-top: 24px;
  scrollbar-color: #969595;
  min-width: 343px;
  color: #fafafa;
  resize: both;
  max-width: 100%;
  min-height: 154px;
  max-height: 600px;
}

.text_area:focus,
.text_area:hover {
  outline: none;
}

.text_area::placeholder {
  color: #333333;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .text_area {
    height: 224px;
    padding: 22px;
    margin-bottom: 32px;
    margin-top: 32px;
    width: 505px;
  }

  .text_area::placeholder {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .text_area {
    height: 280px;
  }
}
